@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto; /*centralizou a caixa horizontalmente*/
}

nav{
    position: absolute;
    top: 110px; /*A imagem ao lado possui 240px de altura*/
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block; /*Estão ocupando apenas o necessário de seu conteudo     Sua orientação sempre é pela linha de baixo*/
    text-align: center;
    width: 30%;
    vertical-align: top; /*mudando a orientação para a linha de cima*/
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /*Ao invés de somar os px do padding com o % da largura, ele expande o padding sem afetar o %*/
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: #C78C19;
    cursor: pointer;
}

.produtos li:active{
    border-color: #088C19;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2{
    font-weight: bold;
    font-size: 30px;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0; /*Adicionando margem apenas no topo*/
}

footer{
    text-align: center;
    background: url("assets/bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: #FFFFFF;
    font-size: 15px;
    margin-top: 20px;
}

/* 
Items possuem config inline ou block
    O inline ocupa toda a largura da linha, mas é possivel editar isso (ex: <ul>)
    O block ocupa apenas o tamanho do item na linha, sendo possivel outro item ocupar aquela linha
*/